<!DOCTYPE html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragment/libAdmin :: libheaderadmin"></head>
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/chat.js"></script>
    <script>
        window.onload = function() {
            loadListUserChat();
            loadTinNhan();
        }
    </script>
</head>

<body>
<section class="body">
    <th:block th:replace="fragment/sidebarAdmin :: headerAdmin"></th:block>
    <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="row">
                <div class="row">
                <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                <div class="col-sm-5">
                    <label class="lb-form">Từ ngày</label>
                    <input id="from" type="date" class="form-control">
                    <label class="lb-form">Đến ngày</label>
                    <input id="to" type="date" class="form-control">
                    <label class="checkbox-custom">Khóa voucher
                        <input id="lockvoucher" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <button onclick="saveVoucher()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật voucher</button>
                </div>

            </div>
        </section>
    </div>
                <div class="col-sm-9">
                    <div class="mainchatadmin" id="mainchatadmin">
                        <div class="header-chat-admin form-control">
                            Trần Văn Hiếu
                        </div>
                        <div class="contentchatadmin" id="listchatadmin">
                            <!--                                <p class="mychat">hehe admin</p>-->
                            <!--                                <p class="adminchat">đây là nội dung chat của admin</p>-->
                            <!--                                <p class="mychat">hehe admin</p>-->
                            <!--                                <p class="adminchat">đây là nội dung chat của admin</p>-->
                        </div>
                        <div style="height: 50px;"></div>
                        <div class="chat-area-footer">
                            <input type="text" id="contentmess" class="inputchatadmin" placeholder="write message" />
                            <button class="btn-send-message" id="sendmess"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<th:block th:replace="fragment/libAdmin :: jdadmin"></th:block>
</body>

</html>