<!DOCTYPE html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragment/libAdmin :: libheaderadmin"></head>
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/chat.js"></script>
    <script>
        window.onload = function() {
            loadListUserChat();
            loadTinNhan();
        }
    </script>
</head>

<body>
<section class="body">
    <th:block th:replace="fragment/sidebarAdmin :: headerAdmin"></th:block>
    <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="row">
                <div class="row">
                <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <div class="row">
                
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
                <div class="col-sm-5">
                    <label class="lb-form">Từ ngày</label>
                    <input id="from" type="date" class="form-control">
                    <label class="lb-form">Đến ngày</label>
                    <input id="to" type="date" class="form-control">
                    <label class="checkbox-custom">Khóa voucher
                        <input id="lockvoucher" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <button onclick="saveVoucher()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật voucher</button>
                </div>

				<section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="col-sm-12 header-sp">
                    <div class="row filterdonhang">
                        <div class="col-md-2">
                            <label>Từ ngày</label>
                            <input id="start" type="date" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <label>Đến ngày</label>
                            <input id="end" type="date" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label>Loại thanh toán</label>
                            <select id="type" class="form-control">
                                <option value="-1">--- Tất cả ---</option>
                                <option value="PAYMENT_MOMO">Thanh toán bằng momo</option>
                                <option value="PAYMENT_DELIVERY">Thanh toán khi nhận hàng</option>
                                <option value="PAYMENT_VNPAY">Thanh toán vnpay</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Trạng thái đơn hàng</label>
                            <select class="form-control" id="trangthai">
                                <option value="-1">--- Tất cả ---</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <button onclick="loadInvoice(0)" class="btn btn-danger form-control"><i class="fa fa-filter"></i> Lọc</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="wrapper">
                        <div class="headertable">
                            <div class="divsearchtb">
                                <label>Sắp xếp theo: </label>
                                <select onchange="loadInvoice(0)" id="sort">
                                    <option value="id,asc">Cũ nhất</option>
                                    <option value="id,desc">Mới nhất</option>
                                </select>
                            </div>
                        </div>
                        <table class="table table-striped tablefix">
                            <thead class="thead-tablefix">
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th class="floatr">Ngày đặt</th>
                                <th>Địa chỉ</th>
                                <th class="floatr">Giá trị<br>đơn hàng</th>
                                <th>Trạng thái thanh toán</th>
                                <th class="floatr">Trạng thái vận chuyển</th>
                                <th class="sticky-col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="listinvoice">
                            <tr>
                                <td>#2342</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="sticky-col">
                                    <i class="fa fa-trash-alt iconaction"></i>
                                    <i class="fa fa-edit iconaction"></i><br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
				
            </div>
        </section>
    </div>
                <div class="col-sm-9">
                    <div class="mainchatadmin" id="mainchatadmin">
                        <div class="header-chat-admin form-control">
                            Trần Văn Hiếu
                        </div>
                        <div class="contentchatadmin" id="listchatadmin">
                            <!--                                <p class="mychat">hehe admin</p>-->
                            <!--                                <p class="adminchat">đây là nội dung chat của admin</p>-->
                            <!--                                <p class="mychat">hehe admin</p>-->
                            <!--                                <p class="adminchat">đây là nội dung chat của admin</p>-->
                        </div>
                        <div style="height: 50px;"></div>
                        <div class="chat-area-footer">
                            <input type="text" id="contentmess" class="inputchatadmin" placeholder="write message" />
                            <button class="btn-send-message" id="sendmess"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<th:block th:replace="fragment/libAdmin :: jdadmin"></th:block>
</body>

</html>