<!DOCTYPE html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragment/libAdmin :: libheaderadmin"></head>
    <script src="js/menu.js"></script>
    <script src="js/voucher.js"></script>
    <script>
        window.onload = function() {
            loadVoucher(0, null, null);
        }
    </script>
</head>

<body>
<section class="body">
    <th:block th:replace="fragment/sidebarAdmin :: headerAdmin"></th:block>
    <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="col-sm-12 header-sp">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-4">
                            <label class="lb-form">Từ ngày</label>
                            <input id="start" type="date" class="form-control">
                        </div>
                        <div class="col-md-2 col-sm-4 col-4">
                            <label class="lb-form">Đến ngày</label>
                            <input id="end" type="date" class="form-control">
                        </div>
                        <div class="col-md-2 col-sm-4 col-4">
                            <label class="lb-form" style="display: block;">&ThickSpace;</label>
                            <button onclick="filter()" class="btn btn-success"><i class="fa fa-filter"></i> Lọc</button>
                        </div>
                        <div class="col-md-3">
                            <label class="lb-form" style="display: block;">&ThickSpace;</label>
                            <a href="addvoucher" class="btn btn-success"><i class="fa fa-plus"></i> Thêm voucher</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="wrapper">
                        <table class="table table-striped tablefix">
                            <thead class="thead-tablefix">
                            <tr>
                                <th>id</th>
                                <th>Mã</th>
                                <th>Tên voucher</th>
                                <th>Đơn hàng tối thiểu</th>
                                <th>Giảm giá</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái</th>
                                <th class="sticky-col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="listvoucher">
                            <tr>
                                <td>#2342</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="sticky-col">
                                    <i class="fa fa-lock iconaction"></i>
                                    <i class="fa fa-edit iconaction"></i><br>
                                    <i class="fa fa-edit iconaction"></i><br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm cập nhật</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="col-sm-5">
                    <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
        </section>
    </div>
                    <label class="lb-form">Ảnh bài viết</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Mô tả</label>
                    <textarea id="description" class="form-control" style="height: 200px;"></textarea>
                </div>
                <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="col-sm-5">
                    <div class="inner-wrapper">
        <th:block th:replace="fragment/sidebarAdmin :: sidenavAdmin"></th:block>
        <section role="main" class="content-body" id="main-content">
            <th:block th:replace="fragment/sidebarAdmin :: pageHeader"></th:block>
            <div class="row">
                <div class="col-sm-5">
                    <label class="lb-form">Tên danh mục</label>
                    <input id="catename" type="text" class="form-control">
                    <label class="checkbox-custom">Danh mục chính
                        <input id="primaryCate" type="checkbox">
                        <span class="checkmark-checkbox"></span>
                    </label><br>
                    <label class="lb-form">Ảnh danh mục</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Danh mục cha</label>
                    <select id="listdpar" class="form-control" style="z-index: 10000;">
                        <option value=""></option>
                    </select>
                    <br><br>
                    <button onclick="saveCategory()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật danh mục</button>
                </div>
            </div>
        </section>
    </div>
                    <label class="lb-form">Ảnh bài viết</label>
                    <input id="fileimage" type="file" class="form-control">
                    <img id="imgpreview" style="width: 120px; margin-top: 15px;margin-bottom: 15px;display: block;">
                    <label class="lb-form">Mô tả</label>
                    <textarea id="description" class="form-control" style="height: 200px;"></textarea>
                </div>
                <div class="col-md-7">
                    <label>Nội dung</label>
                    <textarea id="editor" name="content"></textarea>
                    <div id="loading">
                        <div class="bar1 bar"></div>
                    </div><br>
                    <button onclick="saveBlog()" class="btn btn-success form-control action-btn">Thêm/ Cập nhật bài viết</button>
                </div>
            </div>
        </section>
    </div>
            </div>
        </section>
    </div>
                <div class="col-sm-12">
                    <div class="wrapper">
                        <div class="headertable">
                            <div class="divsearchtb">
                                <label>Sắp xếp theo: </label>
                                <select onchange="loadBlog(0)" id="sort">
                                    <option value="id,asc">Cũ nhất</option>
                                    <option value="id,desc">Mới nhất</option>
                                </select>
                            </div>
                        </div>
                        <table class="table table-striped tablefix">
                            <thead class="thead-tablefix">
                            <tr>
                                <th>id bài viết</th>
                                <th>Ảnh bìa</th>
                                <th>ngày tạo</th>
                                <th>tiêu đề bài viết</th>
                                <th>mô tả</th>
                                <th class="sticky-col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="listblog">
                            <tr>
                                <td>#2342</td>
                                <td><img src="" style="width: 100px;"></td>
                                <td>2023-02-19</td>
                                <td>đây là tiêu đề</td>
                                <td>đây là mô tả</td>
                                <td class="sticky-col">
                                    <i class="fa fa-trash-alt iconaction"></i>
                                    <i class="fa fa-edit iconaction"></i><br>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pageable">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </div>sss
                </div>
            </div>
        </section>
    </div>
</section>
<th:block th:replace="fragment/libAdmin :: jdadmin"></th:block>
</body>
</html>